.sideBar {
  max-width: 300px;
  height: 1616px;
  font-size: 0.8rem;
  position: absolute;
  float: left;
  overflow: scroll;
  display: block;
  text-align: center;
  background-color: #f2f3f7;
  -moz-box-shadow: -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow: -3px 0 5px 0 #555;
}
.profile-img {
  /* width: 150px; */
  /* height: 150px; */
  margin-top: 30px;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
}
.icon {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.mail {
  font-size: 1rem;
}
